# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
env/

# DVC cache
.dvc/cache/
.dvc/tmp/

# DVC-related exceptions
!.dvc/
!data/**/*.dvc
!models/**/*.dvc
!metrics/**/*.dvc

# Ignore raw files, but track via DVC
data/*
models/*
metrics/*

# Don't ignore pointer files or metrics
!data/raw/
!data/**/*.csv
!metrics/scores.json
!data/predictions.csv

# Logs and artifacts
*.log
*.joblib
*.json
*.csv